In [12]:
import pandas as pd
df = pd.read_csv('./file-coderstool.csv')
df.head()

,JX7IRVUYL1DRJQXK,2018-02-01,Jerilyn,Brewer,joelle.beals52463@craft.com
0,Q7KV21SUGSQQV2CX,2012-07-12,Diedra,Bone,berna.lombardi@hotmail.com
1,ZYXAZRQ73SN5AAZ9,1984-01-19,Kami,Folk,lavenia_sparks7017@borders.游戏
2,HYUR33ZV7HN244CI,2018-05-06,Kevin,Robles,virgen.weddle20@mn.com
3,UK5U6BHAXVUSTMV8,1974-08-07,Aletha,Mckenna-Forest,elia535@yahoo.com
4,1TE09QQJAGIQE6A8,1984-10-09,Warren,Weatherly,mistie9845@beans.com

In [13]:
df.describe()

,JX7IRVUYL1DRJQXK,2018-02-01,Jerilyn,Brewer,joelle.beals52463@craft.com
count,9,9,9,9,9
unique,9,9,9,9,9
top,Q7KV21SUGSQQV2CX,2012-07-12,Diedra,Bone,berna.lombardi@hotmail.com
freq,1,1,1,1,1

In [14]:
print(df['Brewer'])

0              Bone
1              Folk
2            Robles
3    Mckenna-Forest
4         Weatherly
5      Buie-Perales
6       Keith-Oliva
7            Delong
8         Galbraith
Name: Brewer, dtype: object

In [ ]:
#test