In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
#mpl.rcParams['agg.path.chunksize'] = 10000
df = pd.read_csv('../economic-survey-of-manufacturing-march-2025-quarter-csv.csv')

In [2]:
df['Data_value'].min()

-26.0

In [3]:
df['Data_value'].max()

35749.295

In [4]:
df['Data_value'].mean()

2981.5748450411106

In [5]:
df.columns

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,MFGQ.SFA1CA,1992.12,2493.370,NaN,F,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,Meat and dairy product manufacturing,Sales (operating income),Current prices,Unadjusted,NaN
1,MFGQ.SFA1CA,1993.03,3209.200,NaN,F,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,Meat and dairy product manufacturing,Sales (operating income),Current prices,Unadjusted,NaN
2,MFGQ.SFA1CA,1993.06,2780.170,NaN,F,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,Meat and dairy product manufacturing,Sales (operating income),Current prices,Unadjusted,NaN
3,MFGQ.SFA1CA,1993.09,1933.010,NaN,F,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,Meat and dairy product manufacturing,Sales (operating income),Current prices,Unadjusted,NaN
4,MFGQ.SFA1CA,1993.12,2692.920,NaN,F,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,Meat and dairy product manufacturing,Sales (operating income),Current prices,Unadjusted,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30055,MFGQ.SFZ5KA,2024.03,10399.776,NaN,R,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,All manufacturing,"Stocks of finished goods, trading goods and wo...","Deflated, at September 2010 quarter prices",Unadjusted,NaN
30056,MFGQ.SFZ5KA,2024.06,8981.859,NaN,R,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,All manufacturing,"Stocks of finished goods, trading goods and wo...","Deflated, at September 2010 quarter prices",Unadjusted,NaN
30057,MFGQ.SFZ5KA,2024.09,9426.188,NaN,R,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,All manufacturing,"Stocks of finished goods, trading goods and wo...","Deflated, at September 2010 quarter prices",Unadjusted,NaN
30058,MFGQ.SFZ5KA,2024.12,10595.690,NaN,R,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,All manufacturing,"Stocks of finished goods, trading goods and wo...","Deflated, at September 2010 quarter prices",Unadjusted,NaN
30059,MFGQ.SFZ5KA,2025.03,10826.352,NaN,F,Dollars,6,Manufacturing Survey (ANZSIC06) - MFG,Industry by variable - Subannual Financial Col...,All manufacturing,"Stocks of finished goods, trading goods and wo...","Deflated, at September 2010 quarter prices",Unadjusted,NaN

In [14]:
df.columns

Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
       'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1',
       'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5'],
      dtype='object')

In [23]:
df = df[['Period','Data_value','Magnitude','Group']]
df

,Period,Data_value,Magnitude,Group
0,1992.12,2493.370,6,Industry by variable - Subannual Financial Col...
1,1993.03,3209.200,6,Industry by variable - Subannual Financial Col...
2,1993.06,2780.170,6,Industry by variable - Subannual Financial Col...
3,1993.09,1933.010,6,Industry by variable - Subannual Financial Col...
4,1993.12,2692.920,6,Industry by variable - Subannual Financial Col...
...,...,...,...,...
30055,2024.03,10399.776,6,Industry by variable - Subannual Financial Col...
30056,2024.06,8981.859,6,Industry by variable - Subannual Financial Col...
30057,2024.09,9426.188,6,Industry by variable - Subannual Financial Col...
30058,2024.12,10595.690,6,Industry by variable - Subannual Financial Col...
30059,2025.03,10826.352,6,Industry by variable - Subannual Financial Col...

In [24]:
df.isnull().sum()

Period        0
Data_value    0
Magnitude     0
Group         0
dtype: int64

In [19]:
df.shape

(30060, 5)

In [28]:
df.groupby(['Group']).mean()

,Period,Data_value,Magnitude
Group,,,
Industry by variable - Subannual Financial Collection,2008.925951,3055.394804,6.0
"Industry by variable - Subannual Financial Collection, percentage change",2009.630556,1.740809,0.0

In [29]:
df.isnull().sum()

Period        0
Data_value    0
Magnitude     0
Group         0
dtype: int64

In [12]:
df.groupby(['Group']).sum(['Data_value'])

,Period,Data_value,Magnitude
Group,,,
Industry by variable - Subannual Financial Collection,57459300.06,8.739040e+07,171612
"Industry by variable - Subannual Financial Collection, percentage change",2930041.35,2.538100e+03,0

(30060, 14)