In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df= pd.read_csv('../event_data_pse.csv')

In [4]:
#compter le nombre d'occurence 
df['locations_coordinates'].value_counts()

locations_coordinates
31.43317, 34.37793                                                                       25
32.46188, 35.297569                                                                       3
31.806061, 35.326118                                                                      3
31.707121, 35.206589                                                                      2
32.318062, 35.056252; 32.327461, 35.084259                                                2
31.46242, 34.27496                                                                        1
32.462318, 35.278709; 32.452888, 35.282452; 32.426182, 35.25536                           1
31.94697, 35.273869                                                                       1
31.86565, 35.457241                                                                       1
32.180759, 35.066608                                                                      1
31.52466, 34.96537                                                                        1
32.327461, 35.084259                                                                      1
32.06403, 35.024109                                                                       1
31.956129, 35.47105                                                                       1
32.184681, 35.4543                                                                        1
32.460201, 35.28817; 32.318062, 35.056252; 32.294868, 35.440121; 32.327461, 35.084259     1
Name: count, dtype: int64

In [5]:
# selectionner les colonnes pertinents
df = df[['displacement_date','figure','displacement_start_date','displacement_end_date','event_name','locations_coordinates']]

In [9]:
#afficher les colonnes qui ont des valeurs null
print(df.isnull().sum())

displacement_date          0
figure                     0
displacement_start_date    0
displacement_end_date      0
event_name                 0
locations_coordinates      1
dtype: int64

In [6]:
#afficher les doublons
print(df.duplicated().sum())

0

In [7]:
print(df['event_name'].value_counts())

event_name
Palestine:  International armed conflict (IAC) (Hostilities Gaza/Israel) - Gaza Strip - 01/01/2025    26
Palestine: International armed conflict (IAC) - West Bank - 01/01/2025                                18
#event+name                                                                                            1
Palestine: Communal violence - Bethlehem - 09/04/2025                                                  1
Palestine: Communal violence - West Bank - 27/02/2025                                                  1
Name: count, dtype: int64

In [8]:
#changer le type de donn√©e en str puis en float
df['figure']=df['figure'].astype(str).str.replace(',','').str.strip()

In [9]:
df['figure'] = pd.to_numeric(df['figure'], errors='coerce')

In [10]:
df = df.dropna(subset=['figure'])

In [11]:
df.head(4)

,displacement_date,figure,displacement_start_date,displacement_end_date,event_name,locations_coordinates
1,2025-07-08,45553.0,2025-06-18,2025-07-08,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
2,2025-06-17,15311.0,2025-06-12,2025-06-17,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
3,2025-06-11,24556.0,2025-06-04,2025-06-11,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
4,2025-06-03,7555.0,2025-05-28,2025-06-03,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"

In [12]:
df_grouper = df.groupby('event_name').agg({'figure':['sum']})

In [13]:
df_grouper

                                                      figure
                                                         sum
event_name
Palestine:  International armed conflict (IAC) ...  867693.0
Palestine: Communal violence - Bethlehem - 09/0...      32.0
Palestine: Communal violence - West Bank - 27/0...      25.0
Palestine: International armed conflict (IAC) -...   54080.0

In [14]:
df['displacement_date'] = pd.to_datetime(df['displacement_date'], errors='coerce')

In [15]:
df_groupby_date = df.groupby(df['displacement_date'].dt.month).agg({'figure':['sum']})

In [16]:
print(df_groupby_date)

                     figure
                        sum
displacement_date
1                   10240.0
2                   40000.0
3                  327218.0
4                  242226.0
5                  209171.0
6                   47422.0
7                   45553.0

In [17]:
df.dropna(subset=['locations_coordinates'])

,displacement_date,figure,displacement_start_date,displacement_end_date,event_name,locations_coordinates
1,2025-07-08,45553.0,2025-06-18,2025-07-08,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
2,2025-06-17,15311.0,2025-06-12,2025-06-17,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
3,2025-06-11,24556.0,2025-06-04,2025-06-11,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
4,2025-06-03,7555.0,2025-05-28,2025-06-03,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
5,2025-05-27,22743.0,2025-05-23,2025-05-27,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
6,2025-05-22,10871.0,2025-05-22,2025-05-22,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
7,2025-05-21,22548.0,2025-05-21,2025-05-21,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
8,2025-05-20,41734.0,2025-05-20,2025-05-20,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
9,2025-05-19,33681.0,2025-05-19,2025-05-19,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
10,2025-05-18,29178.0,2025-05-18,2025-05-18,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
11,2025-05-17,15215.0,2025-05-15,2025-05-17,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
12,2025-05-16,20700.0,2025-05-14,2025-05-16,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
13,2025-05-13,7083.0,2025-05-07,2025-05-13,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
14,2025-05-06,5418.0,2025-04-30,2025-05-06,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
15,2025-04-29,2611.0,2025-04-23,2025-04-29,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
16,2025-04-22,1590.0,2025-04-16,2025-04-22,Palestine: International armed conflict (IAC)...,"31.46242, 34.27496"
17,2025-04-15,17521.0,2025-04-10,2025-04-15,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
18,2025-04-09,32.0,2025-04-09,2025-04-09,Palestine: Communal violence - Bethlehem - 09/...,"31.707121, 35.206589"
19,2025-04-09,11743.0,2025-04-07,2025-04-09,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
20,2025-04-12,1923.0,2025-04-06,2025-04-12,Palestine: International armed conflict (IAC) ...,"32.462318, 35.278709; 32.452888, 35.282452; 32..."
21,2025-04-06,109843.0,2025-04-03,2025-04-06,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
22,2025-04-17,253.0,2025-04-01,2025-04-17,Palestine: International armed conflict (IAC) ...,"32.318062, 35.056252; 32.327461, 35.084259"
23,2025-04-02,96710.0,2025-03-28,2025-04-02,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
24,2025-03-27,41485.0,2025-03-24,2025-03-27,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
25,2025-03-23,17810.0,2025-03-22,2025-03-23,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
26,2025-03-21,55347.0,2025-03-20,2025-03-21,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
27,2025-03-19,60618.0,2025-03-19,2025-03-19,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
28,2025-03-23,142000.0,2025-03-18,2025-03-23,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
29,2025-03-18,8269.0,2025-03-18,2025-03-18,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
30,2025-03-31,1012.0,2025-03-15,2025-03-31,Palestine: International armed conflict (IAC) ...,"32.318062, 35.056252; 32.327461, 35.084259"
31,2025-03-11,500.0,2025-03-10,2025-03-11,Palestine: International armed conflict (IAC) ...,"32.46188, 35.297569"
32,2025-03-04,152.0,2025-03-04,2025-03-04,Palestine: International armed conflict (IAC) ...,"32.46188, 35.297569"
33,2025-03-06,25.0,2025-02-27,2025-03-06,Palestine: Communal violence - West Bank - 27/...,"31.94697, 35.273869"
34,2025-01-31,5.0,2025-01-31,2025-01-31,Palestine: International armed conflict (IAC) ...,"31.806061, 35.326118"
35,2025-01-31,22.0,2025-01-31,2025-01-31,Palestine: International armed conflict (IAC) ...,"31.86565, 35.457241"
36,2025-01-30,7.0,2025-01-30,2025-01-30,Palestine: International armed conflict (IAC) ...,"32.180759, 35.066608"
37,2025-01-29,7.0,2025-01-29,2025-01-29,Palestine: International armed conflict (IAC) ...,"31.52466, 34.96537"
38,2025-01-29,4.0,2025-01-29,2025-01-29,Palestine: International armed conflict (IAC) ...,"32.327461, 35.084259"
39,2025-01-29,5.0,2025-01-29,2025-01-29,Palestine: International armed conflict (IAC) ...,"32.06403, 35.024109"
40,2025-01-28,2.0,2025-01-28,2025-01-28,Palestine: International armed conflict (IAC) ...,"31.956129, 35.47105"
41,2025-01-28,18.0,2025-01-28,2025-01-28,Palestine: International armed conflict (IAC) ...,"31.707121, 35.206589"
42,2025-01-26,7.0,2025-01-26,2025-01-26,Palestine: International armed conflict (IAC) ...,"32.184681, 35.4543"
43,2025-02-10,40000.0,2025-01-21,2025-02-10,Palestine: International armed conflict (IAC) ...,"32.460201, 35.28817; 32.318062, 35.056252; 32...."
44,2025-01-21,4.0,2025-01-21,2025-01-21,Palestine: International armed conflict (IAC) ...,"31.806061, 35.326118"
45,2025-01-21,39.0,2025-01-05,2025-01-21,Palestine: International armed conflict (IAC) ...,"31.806061, 35.326118"
46,2025-01-22,10120.0,2025-01-01,2025-01-22,Palestine: International armed conflict (IAC) ...,"32.46188, 35.297569"

In [18]:
df_location_grouper = df.groupby('locations_coordinates').agg({'figure':['sum']})

In [19]:
print(df_location_grouper)

                                                      figure
                                                         sum
locations_coordinates
31.43317, 34.37793                                  866103.0
31.46242, 34.27496                                    1590.0
31.52466, 34.96537                                       7.0
31.707121, 35.206589                                    50.0
31.806061, 35.326118                                    48.0
31.86565, 35.457241                                     22.0
31.94697, 35.273869                                     25.0
31.956129, 35.47105                                      2.0
32.06403, 35.024109                                      5.0
32.180759, 35.066608                                     7.0
32.184681, 35.4543                                       7.0
32.318062, 35.056252; 32.327461, 35.084259            1265.0
32.327461, 35.084259                                     4.0
32.460201, 35.28817; 32.318062, 35.056252; 32.2...   40000.0
32.46188, 35.297569                                  10772.0
32.462318, 35.278709; 32.452888, 35.282452; 32....    1923.0

In [20]:
df.dropna(subset=['locations_coordinates'])

,displacement_date,figure,displacement_start_date,displacement_end_date,event_name,locations_coordinates
1,2025-07-08,45553.0,2025-06-18,2025-07-08,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
2,2025-06-17,15311.0,2025-06-12,2025-06-17,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
3,2025-06-11,24556.0,2025-06-04,2025-06-11,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
4,2025-06-03,7555.0,2025-05-28,2025-06-03,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
5,2025-05-27,22743.0,2025-05-23,2025-05-27,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
6,2025-05-22,10871.0,2025-05-22,2025-05-22,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
7,2025-05-21,22548.0,2025-05-21,2025-05-21,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
8,2025-05-20,41734.0,2025-05-20,2025-05-20,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
9,2025-05-19,33681.0,2025-05-19,2025-05-19,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
10,2025-05-18,29178.0,2025-05-18,2025-05-18,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
11,2025-05-17,15215.0,2025-05-15,2025-05-17,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
12,2025-05-16,20700.0,2025-05-14,2025-05-16,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
13,2025-05-13,7083.0,2025-05-07,2025-05-13,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
14,2025-05-06,5418.0,2025-04-30,2025-05-06,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
15,2025-04-29,2611.0,2025-04-23,2025-04-29,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
16,2025-04-22,1590.0,2025-04-16,2025-04-22,Palestine: International armed conflict (IAC)...,"31.46242, 34.27496"
17,2025-04-15,17521.0,2025-04-10,2025-04-15,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
18,2025-04-09,32.0,2025-04-09,2025-04-09,Palestine: Communal violence - Bethlehem - 09/...,"31.707121, 35.206589"
19,2025-04-09,11743.0,2025-04-07,2025-04-09,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
20,2025-04-12,1923.0,2025-04-06,2025-04-12,Palestine: International armed conflict (IAC) ...,"32.462318, 35.278709; 32.452888, 35.282452; 32..."
21,2025-04-06,109843.0,2025-04-03,2025-04-06,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
22,2025-04-17,253.0,2025-04-01,2025-04-17,Palestine: International armed conflict (IAC) ...,"32.318062, 35.056252; 32.327461, 35.084259"
23,2025-04-02,96710.0,2025-03-28,2025-04-02,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
24,2025-03-27,41485.0,2025-03-24,2025-03-27,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
25,2025-03-23,17810.0,2025-03-22,2025-03-23,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
26,2025-03-21,55347.0,2025-03-20,2025-03-21,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
27,2025-03-19,60618.0,2025-03-19,2025-03-19,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
28,2025-03-23,142000.0,2025-03-18,2025-03-23,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
29,2025-03-18,8269.0,2025-03-18,2025-03-18,Palestine: International armed conflict (IAC)...,"31.43317, 34.37793"
30,2025-03-31,1012.0,2025-03-15,2025-03-31,Palestine: International armed conflict (IAC) ...,"32.318062, 35.056252; 32.327461, 35.084259"
31,2025-03-11,500.0,2025-03-10,2025-03-11,Palestine: International armed conflict (IAC) ...,"32.46188, 35.297569"
32,2025-03-04,152.0,2025-03-04,2025-03-04,Palestine: International armed conflict (IAC) ...,"32.46188, 35.297569"
33,2025-03-06,25.0,2025-02-27,2025-03-06,Palestine: Communal violence - West Bank - 27/...,"31.94697, 35.273869"
34,2025-01-31,5.0,2025-01-31,2025-01-31,Palestine: International armed conflict (IAC) ...,"31.806061, 35.326118"
35,2025-01-31,22.0,2025-01-31,2025-01-31,Palestine: International armed conflict (IAC) ...,"31.86565, 35.457241"
36,2025-01-30,7.0,2025-01-30,2025-01-30,Palestine: International armed conflict (IAC) ...,"32.180759, 35.066608"
37,2025-01-29,7.0,2025-01-29,2025-01-29,Palestine: International armed conflict (IAC) ...,"31.52466, 34.96537"
38,2025-01-29,4.0,2025-01-29,2025-01-29,Palestine: International armed conflict (IAC) ...,"32.327461, 35.084259"
39,2025-01-29,5.0,2025-01-29,2025-01-29,Palestine: International armed conflict (IAC) ...,"32.06403, 35.024109"
40,2025-01-28,2.0,2025-01-28,2025-01-28,Palestine: International armed conflict (IAC) ...,"31.956129, 35.47105"
41,2025-01-28,18.0,2025-01-28,2025-01-28,Palestine: International armed conflict (IAC) ...,"31.707121, 35.206589"
42,2025-01-26,7.0,2025-01-26,2025-01-26,Palestine: International armed conflict (IAC) ...,"32.184681, 35.4543"
43,2025-02-10,40000.0,2025-01-21,2025-02-10,Palestine: International armed conflict (IAC) ...,"32.460201, 35.28817; 32.318062, 35.056252; 32...."
44,2025-01-21,4.0,2025-01-21,2025-01-21,Palestine: International armed conflict (IAC) ...,"31.806061, 35.326118"
45,2025-01-21,39.0,2025-01-05,2025-01-21,Palestine: International armed conflict (IAC) ...,"31.806061, 35.326118"
46,2025-01-22,10120.0,2025-01-01,2025-01-22,Palestine: International armed conflict (IAC) ...,"32.46188, 35.297569"

In [21]:
df.isnull().sum()

displacement_date          0
figure                     0
displacement_start_date    0
displacement_end_date      0
event_name                 0
locations_coordinates      0
dtype: int64

In [22]:
df_date_depl = df['displacement_date']

In [23]:
print(df_date_depl)

1    2025-07-08
2    2025-06-17
3    2025-06-11
4    2025-06-03
5    2025-05-27
6    2025-05-22
7    2025-05-21
8    2025-05-20
9    2025-05-19
10   2025-05-18
11   2025-05-17
12   2025-05-16
13   2025-05-13
14   2025-05-06
15   2025-04-29
16   2025-04-22
17   2025-04-15
18   2025-04-09
19   2025-04-09
20   2025-04-12
21   2025-04-06
22   2025-04-17
23   2025-04-02
24   2025-03-27
25   2025-03-23
26   2025-03-21
27   2025-03-19
28   2025-03-23
29   2025-03-18
30   2025-03-31
31   2025-03-11
32   2025-03-04
33   2025-03-06
34   2025-01-31
35   2025-01-31
36   2025-01-30
37   2025-01-29
38   2025-01-29
39   2025-01-29
40   2025-01-28
41   2025-01-28
42   2025-01-26
43   2025-02-10
44   2025-01-21
45   2025-01-21
46   2025-01-22
Name: displacement_date, dtype: datetime64[ns]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46 entries, 1 to 46
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   displacement_date        46 non-null     datetime64[ns]
 1   figure                   46 non-null     float64
 2   displacement_start_date  46 non-null     object
 3   displacement_end_date    46 non-null     object
 4   event_name               46 non-null     object
 5   locations_coordinates    46 non-null     object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 3.6+ KB

In [26]:
df['displacement_date']=df['displacement_date'].dt.strftime('%Y-%m-%d')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46 entries, 1 to 46
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   displacement_date        46 non-null     object
 1   figure                   46 non-null     float64
 2   displacement_start_date  46 non-null     object
 3   displacement_end_date    46 non-null     object
 4   event_name               46 non-null     object
 5   locations_coordinates    46 non-null     object
dtypes: float64(1), object(5)
memory usage: 3.6+ KB

In [28]:
df_date_depl = df['displacement_date']

In [33]:
print(df_date_depl[1][6])

7

In [41]:
mois=[]
for i in range(len(df_date_depl)):
    res=df_date_depl[i+1][6]
    mois.append(res)
for i in mois:
    mois_text=''
    if i=='7':
        mois_text='juillet'
    if i=='6':

Juillet

In [ ]:
def obtenir_mois(date_str):
    date_numero=[5:6]
    mois_txt={
        '01':'janvier',
        '02':'fevrier',
        '03':'mars',
        '04':'avril',
        '05':'mai',
        '06':'juin',
        '07':'juillet',
        '08':'ao√ªt',
        '09':'septembre',
        '10':'octobre',
        '11':'novembre',
        '12':'decembre'
    }
    return mois_text.get(date_numero)