In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_excel('../emdat-country-profiles_pry_2025_07_16.xlsx')

In [2]:
df

,Year,Country,ISO,Disaster Group,Disaster Subroup,Disaster Type,Disaster Subtype,Total Events,Total Affected,Total Deaths,"Total Damage (USD, original)","Total Damage (USD, adjusted)",CPI
0,#date +occurred,#country +name,#country +code,#cause +group,#cause +subgroup,#cause +type,#cause +subtype,#frequency,#affected +ind,#affected +ind +killed,NaN,#value +usd,NaN
1,2000,Paraguay,PRY,Natural,Meteorological,Extreme temperature,Cold wave,1,NaN,8,NaN,NaN,54.895152
2,2002,Paraguay,PRY,Natural,Hydrological,Flood,Riverine flood,1,2765,NaN,NaN,NaN,57.341840
3,2002,Paraguay,PRY,Natural,Meteorological,Storm,Hail,1,12500,NaN,NaN,NaN,57.341840
4,2004,Paraguay,PRY,Natural,Meteorological,Extreme temperature,Cold wave,1,NaN,NaN,NaN,NaN,60.213580
5,2005,Paraguay,PRY,Natural,Climatological,Drought,Drought,1,52990,NaN,NaN,NaN,62.256479
6,2007,Paraguay,PRY,Natural,Climatological,Wildfire,Forest fire,1,125000,8,30000000.0,45387082,66.098103
7,2008,Paraguay,PRY,Natural,Climatological,Drought,Drought,1,18000,4,NaN,NaN,68.635672
8,2008,Paraguay,PRY,Natural,Meteorological,Storm,Hail,1,47655,NaN,NaN,NaN,68.635672
9,2009,Paraguay,PRY,Natural,Climatological,Drought,Drought,1,200000,NaN,NaN,NaN,68.391643
10,2009,Paraguay,PRY,Natural,Hydrological,Flood,Riverine flood,1,12035,NaN,820000.0,1198977,68.391643
11,2009,Paraguay,PRY,Natural,Meteorological,Storm,Severe weather,1,700,NaN,NaN,NaN,68.391643
12,2010,Paraguay,PRY,Natural,Meteorological,Extreme temperature,Cold wave,1,NaN,12,NaN,NaN,69.513293
13,2011,Paraguay,PRY,Natural,Meteorological,Storm,Hail,1,2000,NaN,NaN,NaN,71.707724
14,2012,Paraguay,PRY,Natural,Climatological,Drought,Drought,1,1391900,NaN,NaN,NaN,73.191592
15,2012,Paraguay,PRY,Natural,Hydrological,Flood,Riverine flood,1,78945,NaN,4000000.0,5465109,73.191592
16,2012,Paraguay,PRY,Natural,Meteorological,Storm,Severe weather,1,25100,5,2000000.0,2732554,73.191592
17,2013,Paraguay,PRY,Natural,Climatological,Drought,Drought,1,75000,NaN,NaN,NaN,74.263729
18,2013,Paraguay,PRY,Natural,Hydrological,Flood,Riverine flood,1,61400,NaN,NaN,NaN,74.263729
19,2013,Paraguay,PRY,Natural,Meteorological,Storm,Storm (General),1,50000,NaN,25000000.0,33663809,74.263729
20,2014,Paraguay,PRY,Natural,Hydrological,Flood,Riverine flood,2,233360,NaN,NaN,NaN,75.468456
21,2015,Paraguay,PRY,Natural,Hydrological,Flood,Riverine flood,2,140150,12,NaN,NaN,75.557977
22,2015,Paraguay,PRY,Natural,Meteorological,Storm,Severe weather,1,10025,2,NaN,NaN,75.557977
23,2016,Paraguay,PRY,Natural,Climatological,Drought,Drought,1,NaN,NaN,NaN,NaN,76.511216
24,2018,Paraguay,PRY,Natural,Hydrological,Flood,Flood (General),1,41300,NaN,NaN,NaN,80.049596
25,2018,Paraguay,PRY,Natural,Hydrological,Flood,Riverine flood,1,5000,NaN,NaN,NaN,80.049596
26,2019,Paraguay,PRY,Natural,Climatological,Wildfire,Forest fire,1,4000,NaN,NaN,NaN,81.500309
27,2019,Paraguay,PRY,Natural,Hydrological,Flood,Flood (General),1,310595,16,NaN,NaN,81.500309
28,2019,Paraguay,PRY,Natural,Hydrological,Flood,Riverine flood,2,210602,24,NaN,NaN,81.500309
29,2021,Paraguay,PRY,Natural,Hydrological,Flood,Flood (General),2,6000,10,NaN,NaN,86.381657
30,2023,Paraguay,PRY,Natural,Hydrological,Flood,Flash flood,1,39000,NaN,NaN,NaN,97.134993
31,2023,Paraguay,PRY,Natural,Hydrological,Flood,Flood (General),1,7675,6,NaN,NaN,97.134993

In [ ]:
df = df['Year',]